body {
    margin: 0;
    padding: 0;
  }
  
html, body, #map {
height: 100%; 
width: 100vw;
}

.myDivIcon {
color: red; /* To change Icon colour */
text-align: center; /* Horizontally center the text (icon) */
line-height: 20px; /* Vertically center the text (icon) */
}

.myPassIcon {
color: blue; /* To change Icon colour */
text-align: center; /* Horizontally center the text (icon) */
line-height: 20px; /* Vertically center the text (icon) */
}

.myDriveIcon {
color: green; /* To change Icon colour */
text-align: center; /* Horizontally center the text (icon) */
line-height: 20px; /* Vertically center the text (icon) */
}