body {
    margin: 0;
    padding: 0;
  }
  
  #map {
    width: 100%;
    height: 100vh; 
  }
  
  .myDivIcon {
    color: red; /* To change Icon colour */
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 20px; /* Vertically center the text (icon) */
  }
  
  .myPassIcon {
    color: blue; /* To change Icon colour */
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 20px; /* Vertically center the text (icon) */
  }
  
  .myDriveIcon {
    color: green; /* To change Icon colour */
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 20px; /* Vertically center the text (icon) */
  }